<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1> Welcome to <%= title %>!</h1>
  <h3> Name: <%= name %></h3>
   <br>
  <p class="head">Interests</p>
  <ul>
    <li>Drawing</li>
    <li>Photography</li>
    <li>Design</li>
    <li>Programming</li>
    <li>Computer Science</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML & CSS</li>
  </ul>
  <p class="head">Education</p>
  <ul>
      <li>LYN School For Young</li>
    </a>
      <li>Don Antonio Lee Chi Uan Integrated School</li>
    </a>
    <li>Holy Angel University</li>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Student Technology Intern for Blossom Forth School</li>
    <li>Student Leader at Holy Angel University</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Kapanalig Club</li>
    <li>High School Repertory</li>
    <li>SHS Chorale</li>
  </ul>
</div>
<div class="right"></div>
</body>
</html>

